*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 1920px;
    margin:0 auto;
    overflow:hidden ;
}


@mixin commonWhiteText{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

@mixin commonBlackText{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}

.container{
    max-width: 1920px;
    margin: 0 auto;
}

.header{
    min-height: 901px;
    background-image: url(assets/img/header-background.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.section-container{
    width: 1170px;
    margin: 0 auto;
}

.header-navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 55px 0 148px 0;
}

.header-list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 474px;
    margin: 0 157px 0 130px;
}

.header-list__item{
    @include commonWhiteText;
}

.header-contacts{
    width: 159px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.header-contacts__number{
    @include commonWhiteText;
    font-weight: 500;
}

.header-schedule{
    @include commonWhiteText;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    letter-spacing: 1.6px;
    margin-bottom: 24px;
}

h1{
    @include commonWhiteText;
    font-size: 64px;
    font-weight: 700;
    line-height: 88px; /* 137.5% */
    margin-bottom: 40px;
}

.social-networks{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.blue-button{
    @include commonWhiteText;
    font-size: 18px;
    font-weight: 500;
    width: 270px;
    height: 100px;
    background: #3A4574;
    border: 0;
}

.social-networks-buttons-list{
    text-decoration: none;
    list-style-type: none;
    width: 267px;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.social-networks-buttons-list__item{
    width: 48px;
    height: 48px;
    border: 1px solid white;
    border-radius: 50%;
    display:flex;
    align-items:center;
    justify-content: center;
    a{
        @include commonWhiteText;
        text-decoration: none;
    }
}

// main
// section 1

.main-section-1{
    display: flex;
    flex-direction: row;
}

.menu-list{
    margin-top: 80px;
    margin-right: 127px;
    list-style-type: none;
}

.menu-item{

}

.menu-item__name{
    @include commonBlackText;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.menu-item__description{
    @include commonBlackText;
    display:flex;
    align-items:center;
    span:first-child{
        margin-right: 6px;
    }
    span:last-child{
        margin-left: 6px;
    }
    svg{
        margin: 0 6px;
    }
}

.menu-item::after{
    display: block;
    content: "";
    width: 469px;
    height: 1px;
    background-color: #E7E7E7;
    margin: 20px 0 19px;
}

.pictures{
    position: relative;
    margin-top: 129px;
    width: 471px;
    height: 502px;
    border: 2px solid #D3B47F;
    margin-bottom: 175px;
}

.pictures__img1{
    position: absolute;
    top: 101px;
    left: -97px;
}

.pictures__img2{
    position: absolute;
    top: -51px;
    left: 248px;
}

.main-section-2{
    background: #3A4574;
    padding: 219px 0 220px;
    max-width: 1920px;
    margin:0 auto;
}

.slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    &>svg{
        margin-bottom:34px;
    }
}

.button-prev {
    display: flex;
    align-items:center;
    border:0;
    background: transparent;
}

.slider-content {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.slider-content__header {
    color: #D3B47F;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 111.111% */
    margin-bottom: 20px;
}

.slider-content__main-info {
    height: 111px;
    width: 785px;
    text-align: center;
    margin-bottom: 40px;
    @include commonWhiteText;
    line-height: 40px; /* 250% */
}

.slider-content__footer {
    text-align: center;
    font-style: normal;
    color: #D3B47F;
    font-size: 24px;
    font-weight: 600;
    line-height: 40px; /* 166.667% */
    letter-spacing: 5.88px;
}

.button-next {
    display: flex;
    align-items:center;
    border:0;
    background: transparent;
}

.main-section-3 {
}

.section-item {
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 30px;
    &:first-child{
        margin-top: 109px;
        .section-item__image{
            background-image: url(assets/img/1-pic-3-section.png);
        }
    }
    &:nth-child(2){
        flex-direction: row-reverse;
        .item-text {
            margin-left: 30px;
            margin-right: 0px;
        }
        .section-item__image{
            background-image: url(assets/img/2-pic-3-section.png);
        }
    }
    &:last-child{
        margin-bottom: 80px;
        .section-item__image{
            background-image: url(assets/img/3-pic-3-section.png);
        }
    }
}

.section-item__image{
    background-size: 970px 646px;
}

.item-text {
    width: 470px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.item-text__header {
    @include commonBlackText;
    font-size: 40px;
    font-weight: 700;
    line-height: 88px; /* 220% */
    &::after{
        width: 108px;
        display: block;
        content: "";
        border: 1px solid #E7E7E7;
        width: 108px;
        margin: 4px 0 16px;
        left: -54px;
        position: relative;
    }
}

.item-text__info {
    @include commonBlackText;
    color:  #808080;
    font-size: 16px;
}

.section-item__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width:670px;
    height:560px;
}

.main-section-4{
    //overflow-x: hidden;
    margin:0 auto;
    max-width: 1920px;
    background: #3A4574;
    padding-top:68px;
    min-height: 605px;
    box-sizing: border-box;
    position: relative;
    img{
        top:262px;
        width:970px;
        height:646px;
        position: absolute;
        &:first-of-type{
            left: -524px;
        }
        &:nth-of-type(2){
            left: 475px;
        }
        &:last-of-type{
            left: 1475px;
        }
    }
}

.places {
    align-items:center;
    display: flex;
    justify-content: space-between;
}

.places-text {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.places-text__header {
    margin-bottom: -8px;
    @include commonWhiteText;
    font-size: 48px;
    font-weight: 700;
    line-height: 88px;
}

.places-text__info {
    @include commonWhiteText;
    line-height: 32px; /* 150% */
}

.button-container{
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.footer{
    padding-top:404px;
}

.contacts-and-form {
    display: flex;
    justify-content: space-between;
}

.contacts {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    margin-right: 90px;
    margin-bottom: 97px;
}

.contacts-header {
    margin-bottom: 35px;
    @include commonBlackText;
    font-size: 48px;
    font-weight: 700;
    line-height: 88px; /* 183.333% */
}

.contacts-list {
    display: flex;
    flex-direction: column;
}

.contacts-list__item {
    display: flex;
    align-items:center;
    margin-bottom: 40px;
}

.item-pic {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius:50%;
    background-color: #D3B47F;
    margin-right: 16px;
}

.item-info {
    display: flex;
    flex-direction: column;
}

.item-info__header {
    @include commonWhiteText;
    line-height: 32px; /* 200% */
    color: #2E2E2E;
}

.item-info__info {
    @include commonWhiteText;
    color: #2E2E2E;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
}

.form {
    flex-grow:0;
}

.form-header {
    @include commonBlackText;
    font-size: 48px;
    font-weight: 700;
    line-height: 88px; /* 183.333% */
    margin-bottom: 29px;
}

.inputs-list {
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

.inputs-list__item {
    display: flex;
    flex-direction: column;
}

.name {
    @include commonBlackText;
    font-size: 16px;
    margin-bottom: 10px;
}

.input{
    display: flex;
    align-items: center;
    width: 320px;
    height: 80px;
    margin-right: 18px;
    margin-bottom: 20px;
    border: 1px solid #CCC;
    box-sizing:border-box;
    padding-left: 16px;
    &::placeholder{
        @include commonWhiteText;
        color: black;
    }
}

.bigInput{
    width: 670px;
    height: 125px;
}

.footer-map{
    background-image: url(assets/img/footer-map.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1170px;
    height: 547px;
    margin: 0 auto;
}

.social-networks-buttons-list__item_footer{
    border-color: #000;
    a{
        color: black;
    }
}

.footer-logo{
    background-image: url(assets/img/footer-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 269px;
    height: 55px;
}

.social-networks_footer{
    margin-top: 40px;
}